[Unit]
Description=LG Magic Remote microphone bridge
Wants=pipewire.service
After=pipewire.service

[Service]
Type=simple
ExecStart=/usr/local/bin/lg-magic-voice
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
